.cafeCentral{
    width: 100%;
}
.circle{
    margin:auto;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100% ;
}
.cafeIzquierda{
    width: 100%;
}
.notCircle{
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 100%;
}
.castores{
    width: 70%;
    float: left;
}
p {
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    
}
.divRight{
    display: block;
    text-align: right;
}
.absolutlyNotACircle{
    border-radius: 10%;
    width: 100px;
    height: 100px;
}