.tOrange{
    background-color: orange;
}
.tableMain {
    border-collapse: collapse;
    border: 6px solid black;
}
tr td{
    border: 3px solid black;
}

.valid tr td{
    border: none;
}

.notd{
    vertical-align: top;
    border: 0px solid #000;
    border-spacing: 0;
}
.buttoms{
    text-align: center;
    padding: 5px;
}

